@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400;1,500&family=Noto+Sans+JP:wght@100;300&display=swap');

/*reset*/
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}


/* font */
body {font-family: 'EB Garamond', serif;}
.jp {font-family: 'Noto Sans JP', sans-serif;}

/* header */

header {
    width: 100%;
    position: fixed;
    top: 0;
    background:black;
    z-index: 100;
    
}

header .innerheader {
    max-width: 1720px;
    height: 110px;
    line-height: 110px;
    margin: auto;
    
}
header .innerheader .logo {
    float: left;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -1px;

}

header .innerheader .logo a {
    display: block;
    color: white;
}
/* gnb */
header .innerheader .mainMenu {
    float: right;
    overflow: hidden;
    position: relative;
}


/* gnb */
header .innerheader .mainMenu .gnb {
    float: left;
}
header .innerheader .mainMenu .gnb li {
    float: left;
    margin: 0 20px;
}
header .innerheader .mainMenu .gnb li a {
    display: block;
    width: 100%;
    height: 100%;
    color:white;
    position: relative;
}
header .innerheader .mainMenu .gnb li a:hover {
    color: rgb(179, 179, 179);
}
header .innerheader .mainMenu .gnb li a::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    background: mediumblue;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.5s;
}
header .innerheader .mainMenu .gnb li a:hover::after,
header .innerheader .mainMenu .gnb li a:focus:after {
    width: 100%;
}



/* index-----------------------------------------------section visual */
main.main-profile {
    max-width: 1720px;
    margin: auto;   
    overflow: hidden;
}
main.main-profile .profile {
    font-size: 15px;
    line-height: 1.9;
    letter-spacing: -0.1px;
    font-weight: 500;
    text-align: left;
    color: rgb(56, 56, 56);
    padding: 170px 0px 20px 500px;


}
main.main-profile .profile p {
    padding: 5px 0px;
}

main.main-profile .name {
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: right;
    color: rgb(56, 56, 56);
    padding-right: 550px;
}
main.main-profile .tel {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: right;
    color: rgb(56, 56, 56);
    box-sizing: border-box;
    padding: 10px 550px 80px 0px;
    border-bottom: 2px solid rgb(206, 206, 206);

}

/* profile motion */
@keyframes slide-up2 {
    0% {opacity: 0;}
    20% {opacity: 0; transform: translateY(40px);}
}
main.main-profile div.motion {
    animation-name: slide-up2;
    animation-duration: 1.3s;
}

section.profile-list {
    max-width: 1720px;
    box-sizing: border-box;
    margin: 70px auto;   
    overflow: hidden;
}
section.profile-list ul {
    margin: 60px 300px;
    /* background: hotpink; */
    overflow: hidden;
    position: relative;
}

section.profile-list ul h3 {
    float: left;
    width: 25%;
    height: 100%;
    font-size: 27px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1px;
}
section.profile-list ul p {
    float: left;
    font-size: 15px;
    text-align: left;
    line-height: 1.4;
    letter-spacing: 0.8px;
    color: rgb(122, 122, 122);
} 
section.profile-list ul p.cal {
    font-size: 27px;
    line-height: 1;
    font-weight: 500;
    margin-left: -7px;
    color:black;
}
section.profile-list ul p.nation {
    position: absolute;
    font-weight: 500;
    font-size: 25px;
    color: rgb(141, 141, 141);
    top: 53px;
    left: 285px;
}
section.profile-list ul p.nation::after {
    content: '';
    position: absolute;
    height: 120px;
    width: 3px;
    background: rgb(216, 216, 216);
    top: 50px;
    left: 30px;
}
section.profile-list ul div.corp {
    width: 60%;
    float: left;
    margin-left: 50px;
   
}
section.profile-list ul div.corp p {
    text-decoration: underline;
}

section.profile-list ul div.corp-text {
    width: 55%;
    float: left;
    margin: 20px 50px;
}
section.profile-list ul {
    position: relative;
}
section.profile-list ul li {
    position: absolute;
    display: flex;
    width: 80%;
    height: 80%;
    top: 35px;
    left: 600px;
}
section.profile-list ul.skill {
    margin-top: 70px;
    box-sizing: border-box;
    padding-top: 50px;
    border-top: 2px solid rgb(206, 206, 206);

}
section.profile-list ul p.skill-list {
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -1;
    line-height: 1.6;
    text-align: left;
}

section.profile-list ul p.certi-list {
    font-size: 16px;
    line-height: 1.8;
}


/* web------------------------------------------------- */


section.visual {
    max-width: 1720px;
    height: 800px;
    margin: auto;
    overflow: hidden;
}

section.visual .mainimag {
    float: left;
    width: 70%;
    position: relative;

}
section.visual .mainimag div {
    margin-top: 350px;
    padding: 0px;
    width: 5000px;
    height: 400px;
    background: #FFD857;
}
section.visual .mainimag p.img {
    width: 95%;
    position: absolute;
    top: 250px;
    left: 120px
}

section.visual .maintxt {
    float: left;
    width: 30%;
    margin-top: 300px;
    position: relative;
}

/* title, text, icon */
.tit {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
    position: relative;
}
.tit span {
    display: block;
}
.tit span.line {
    width: 100;
    height: 2px;
    background: black;  

}
.tit span.jp {
    font-size: 15px;
    font-weight: 300;
    margin: 20px 0;
    color: rgb(87, 87, 87);
}
.txt {
    font-size: 18px;
    line-height: 1.2;
    margin-top: 240px;
    color: rgb(87, 87, 87);
}
.txt div {
    display: flex;
}
.txt div img {
    width: 50px;
    margin-top: 20px;
    margin-right: 10px;
}

/* images */
section.visual-2 {
    max-width: 1720px;
    margin: auto;
}

section.visual-2 .img-text {
    width: 100%;
    height: 10%;
    margin: auto;
    margin-bottom: 30px;
    background: chartreuse;

}
section.visual-2 .img-text span {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    color: rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    
}

section.visual-2 .img-img {
    margin: 0 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;   

}
section.visual-2 .img-img img:nth-child(1),
section.visual-2 .img-img img:nth-child(2) {
    width: 24%;
    height: 24%;
    margin: 20px 300px;
    box-shadow: 5px 3px 5px rgb(196, 196, 196);
}

section.visual-2 .img-img img:nth-child(3) {
    width: 50%;
    position: absolute;
    margin-top: 0;
    top: -50px;
    right: 100px;

}
section.visual-2 .img-img p {
    font-size: 14px;
    color: rgb(87, 87, 87);
    position: absolute;
    bottom: 200px;
    right: 280px;

}
section.visual-2 .img-img-2 {
    max-width: 1720px;
    margin: auto;
    position: relative;
}
section.visual-2 .img-img-2 p {
    font-size: 14px;
    color: rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
section.visual-2 .img-img-2 img {  
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.visual-2 .img-img-2 div.img-bg:nth-child(1) {
    background: red;
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 0;
}

/* godiva */
section.visual.title2 .mainimag {
    position: relative;
}
section.title2 .mainimag div {
    background: #FFF4DB;

}
section.title2 .mainimag img {
    width: 80%;
    position: absolute;
    left: 100px

}
section.visual-2 .img-text-2 {
    margin: auto ;
    margin-top: 30px;
    background: rgba(233, 233, 233, 0.2);
    font-size: 13px;
    line-height: 1.6;
    color: rgb(87, 87, 87);
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 100px;
    width: 50%;
    margin-bottom: 50px;

}
section.visual-2 .img-text-2 div {
    display: flex;
    justify-content: center;
    margin: 10px 100px;
}

section.visual-2 .img-text-2 div img {
    margin: 0 10px;
    width: 100px;
    box-shadow: 5px 3px 3px rgb(196, 196, 196);
}
section.visual-2 div.godiva1 {
    display: flex;
    justify-content: center;
    margin: auto;
    background: red;
    width: 80%;
}
section.visual-2 div.godiva1 img {
    width: 400px;
    margin: 0px 10px;
    box-shadow: 5px 3px 3px rgb(196, 196, 196);

}
section.visual-2 div.godiva2 {
    width: 80%;
    margin: auto;
}
section.visual-2 div.godiva2 img {
    width: 100%;
    margin: auto;
}
section.visual-2 div.godiva2 div {
    background: #8D5E43;
    width: 100%;
    margin: auto;
}
section.visual-2 div.godiva2 div img {
    width: 70%;
    display: flex;
    justify-content: center;
}
section.title3 {
    height: 900px;
}
section.title3 .mainimag {
    position: relative;

}

section.title3 .mainimag div {
    margin-top: 390px;
    padding: 0px;
    width: 5000px;
    height: 400px;
    background: #D90000;
}
section.title3 .mainimag p img {
    width: 75%;
    position: absolute;
    top: 30px;
    left: 120px

}


section.title3 .maintxt h2.tit span:nth-child(3),
section.title3 .maintxt div.txt {
    color: white;
    
}

section.visual-2 div.lets1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    background: red;
    width: 80%;
}
section.visual-2 div.lets1 img {
    width: 500px;
    margin: 0px 10px;
    box-shadow: 5px 3px 3px rgb(196, 196, 196);

}
section.visual-2 div.lets2 {
    width: 80%;
    margin: auto;
}
section.visual-2 div.lets2 img {
    width: 500px;
    margin: auto;
}
section.visual-2 div.lets2 div {
    background: #C70000;
    width: 100%;
    margin: auto;
}
section.visual-2 div.lets2 div img {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
} 

section.title4 {
    height: 1000px;
}
section.title4 .mainimag {
    position: relative;
}
section.title4 .mainimag div {
    background: #414141;
    margin-top: 390px;
    padding: 0px;
    width: 5000px;
    height: 400px;
}
section.title4 .mainimag p.img1 img {
    margin: auto;
    width: 76%;
    position: absolute;
    top: 0px;
    left: 120px
}
section.title4 .mainimag p.img2 img {
    width: 40%;
    position: absolute;
    left: 0px;
    top: 120px;
}

section.title4 .maintxt h2.tit span:nth-child(3),
section.title4 .maintxt div.txt {
    color: white;
    
}


















/* ----------------------------------------------------* footer */ 
footer {
    width: 100%;
    height: 110px;
    background: rgb(172, 169, 169);
}
footer .innerfooter {
    color: rgb(219, 219, 219);
    letter-spacing: 2px;
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}